{% extends "base.html" %} 
{% load static %}

{% block title %} 
My Blog 
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/post.css" %}" />
  <link rel="stylesheet" href="{% static "blog/index.css" %}" />
{% endblock %}

{% block content %}
<section id="welcome">
  <header>
    <img src="{% static "blog/images/me.jpg" %}" alt="Rebecca - The Author Of This Blog" />
    <h2>REBECCA'S BLOG</h2>
  </header>
  <p>Ciao a tutti! Mi presento sono Rebecca e questo è il mio blog! </p>
</section>

<section id="latest-posts">
  <h2>I miei ultimi romanzi</h2>

  <ul>
    {% for post in posts %}
      {% include "blog/includes/post.html" %}
    {% endfor %}
  </ul>
</section>

<section id="about">
  <h2>Cosa Faccio</h2>
  <p>
    Amo scrivere e leggere romanzi di ogni genere , ma soprattutto i gialli e i polizieschi
  </p>
  <p>
    Il mio obiettivo è crescere come scrittrice e far conoscere alle persone i miei testi 
  </p>
</section>
{% endblock %}
