{% extends "base.html" %} 
{% load static %}

{% block title %} 
My Blog 
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/post.css" %}" />
  <link rel="stylesheet" href="{% static "blog/index.css" %}" />
{% endblock %}

{% block content %}
<section id="welcome">
  <header>
    <img src="{% static "blog/images/rebecca.jpg" %}" alt="Rebecca - The Author Of This Blog" />
    <h2>REBECCA'S BLOG</h2>
  </header>
  <p>Ciao a tutti! Mi presento sono Rebecca , sono una scrittrice e questo è il mio blog! </p>
</section>

<section id="latest-posts">
  <h2>I miei ultimi romanzi</h2>

  <ul>
    {% for post in posts %}
      {% include "blog/includes/post.html" %}
    {% endfor %}
  </ul>
</section>

<section id="about">
  <h2>Chi sono e cosa faccio</h2>
  <p>
    Amo scrivere e leggere romanzi di ogni genere.
    Il mio obiettivo è crescere come scrittrice e far conoscere alle persone i miei testi.
  </p>
  <p>
    Mi considero un ibrido tra uno scrittore vecchio stampo, quegli allegri introversi socialmente inabili che comunicano con i loro scritti, punto e basta, senza sognarsi di interagire personalmente con i lettori, e un ansioso animaletto sociale che si diverte a comunicare con i suoi simili.
Inoltre sono pigra. 
<br>
Quindi gestire una pagina mi ha richiesto la stessa preparazione psicologica necessaria a Maometto per alzare il suo deretano da terra e andare lui dalla montagna.

<br>
Sono inoltre una scrittrice con una profonda riluttanza a definirsi tale; di solito quando mi viene chiesto che lavoro faccio o invento di sana pianta - come quella volta in cui non ho battuto ciglio nel presentarmi in quanto commessa viaggiatrice - oppure borbotto una mezza verità, citando l'editing.
Nei firma-copie poi di solito mi spaccio come una venditrice esterna pagata dall'Editore per vendere questo libro che sì, sì, lo consiglio, sto facendo il mio lavoro promuovendolo.
Fonti accreditate stanno ancora cercando di discernere se sono timida o pazza.

<br>
Ho un rapporto di vecchia data con la scrittura, il primo racconto risale all'incirca alla seconda elementare. Tuttavia ho iniziato a pubblicare effettivamente a ventisette anni, con il primo volume della Saga di Pandemonium.
Quest'ultima è una quadrilogia di ormai imminente conclusione.

<br>
Nel mentre ho scritto e pubblicato anche un romanzo sociale sull'omofobia e il bullismo adolescenziale: "Il buio addosso"; disponibile anche in una versione speciale illustrata a cura di un bravissimo disegnatore impegnato in queste tematiche.
Dunque un thriller noir che, a oggi, posso ammettere sia il lavoro di cui mi sento più soddisfatta: “Il colore della neve”.
Un horror romance condito di umorismo nero sui vampiri: “Nutriti di me”
Infine un racconto breve, sempre a tematica omoerotica, di ambientazione storica rinascimentale: “Ad Astra”.

  </p>
</section>
{% endblock %}
